    * {
        background-color: bisque;
    }
    
    p {
        color: rgb(13, 184, 53);
    }
    
    #div1 {
        color: brown;
    }
    
    .hump {
        color: blueviolet;
    }
    
    div .htext {
        text-decoration: none;
    }
    
    .htext :hover {
        color: aliceblue;
    }
    /* body {
        background-color: black;
    }
    
    h1 {
        color: aliceblue;
    }
    
    h2 {
        color: aliceblue;
        text-align: right;
    }
    
    h3 {
        color: aliceblue;
        text-align: left;
    } */