    * {
        background-color: bisque;
    }
    
    p {
        color: rgb(13, 184, 53);
    }
    
    #div1 {
        color: brown;
    }
    /* body {
        background-color: black;
    }
    
    h1 {
        color: aliceblue;
    }
    
    h2 {
        color: aliceblue;
        text-align: right;
    }
    
    h3 {
        color: aliceblue;
        text-align: left;
    } */